@media only screen and (min-width: 1282px) and (max-width: 1900px) {
    /* ScrollUp */
    #scrollUp {top: 83.6%;}
}
/*2. ======================= Medium Layout: 1280px. =============================*/
@media only screen and (min-width: 992px) and (max-width: 1280px) {
    h1 {
        font-size: 45px;
        line-height: 52px;
    }
    /* ScrollUp */
    #scrollUp {top: 77.6%}
    /*2.2 Product-Section */
    .product_text_two h1 {
        margin-bottom: 45px;
    }
    .product_img {padding: 50px 70px;}
    .product_text_two, .tre_shirt_2_text {
        margin-left: -120px;
        margin-top: -190px;
    }
    .shop_now_btn {margin-top: 30px;}
    /*2.3 Choose-Section */
    .choose_text {
        margin-left: 9.37%;
        width: 26.7%;
    }
    /*2.4 Features-Section */
    .features_text {margin-left: 28%;}
    /*2.5 Footer */
    .newsletter input {padding: 10px 8px;}
}
/*3. ======================= Tablet Layout: 768px. =====================*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding {padding: 50px 0;}
    .section-padding-top {padding-top: 50px;}
    .page-section-padding{
        padding-top:10px;
        padding-bottom:50px;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }
    h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    #scrollUp {top: 85.6%;}
    /*3.1 Header */
    .logo {padding: 20px 0;}
    .head_lo img {width: 110px;}
    .logo a {padding: 0;}
    .mainmenu a {
        font-size: 13px;
        margin-left: 3px;
        padding: 6px 11px;
    }
    /*3.2 Product-Section */
    .product_text_two, .tre_shirt_2_text {
        margin-left: -110px;
        margin-top: -180px;
    }
    .product_text_two h1 {margin-bottom: 35px;}
    .shop_now_btn,.res_mar {margin-top: 25px;}
    .product_img,.product_img.tre_shirt_3 {padding:10px;}
    .product_text p {
        font-size: 15px;
        line-height: 17px;
    }
    .tre_shirt_2_text {left: 30px;}
    /*3.3 Choose-Section */
    .choose_text {
        margin-left: 7.37%;
        width: 27.7%;
    }
    /*3.4 Review-Section */
    .single_review img {margin: 25px 0;}
    /*3.5 Compare-Section */
    .compare_title p,.footer_link p {margin-bottom: 25px;}
    .features_text {margin-left: 28%;}
    /*3.6 Footer */
    .newsletter input {padding: 10px;}
    .news_input {width: 65%;}
    .subscribe_btn {width: 35%;}
    /*3.7 Contact-page */
    #googleMap {height: 400px;}
}
